absl-py
astor
backcall
cachetools
certifi
chardet
cloudpickle
cycler
decorator
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
ipython
jedi
joblib
Keras
Keras-Applications
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
nibabel
numpy
oauthlib
opt-einsum
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pyasn1
pyasn1-modules
Pygments
pyparsing
python-dateutil
PyYAML
requests
requests-oauthlib
rsa
scikit-learn
scipy
six
tensorboard
tensorflow-estimator
tensorflow-gpu==2.0.0
tensorflow-probability
termcolor
tqdm
traitlets
urllib3
wcwidth
Werkzeug
wrapt
